* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hoverStyle:hover {
  background-color: #EAE7FC;
  transform: scale(1.1);
}

.signupButton:hover {
  transform: scale(1.1); 
  background-color: #483ea7;
}

